
@media (max-width: 1200px) {
.atlas {
  height: 130vh
}

.atlas,
.why,
.offer,
.area,
.realty,
.contacts,
.footer {
  width: 130%;
}
 }

@media (max-width: 992px) { 

.btn__up svg  {
  width: 80px;
  height: 80px;
}

.title {
  font-size: 56px;
}

  .atlas {
    height: 158vh
  }

  .atlas,
  .why,
  .offer,
  .area,
  .realty,
  .contacts,
  .footer {
    width: 157%;
  }

  .logo__link {
    margin-right: 30px;
    flex: 1 0 7%;
  }

  .nav__list {
    align-items: center;
    text-align: center;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
  }

  .nav__item {
    position: relative;
  }

  .nav__item::after {
    position: absolute;
    bottom: -4px;
    right: 0;
    left: 0;
    display: inline-block;
    margin: 0 auto;
    content: '';
    width: 0;
    opacity: 0;
    height: 3px;
    background-color: #5e3e27;
    transition: all .4s ease;
  }

  .nav__item:hover::after {
    width: 80%;
    opacity: 1;
  }

  .nav__link {
    font-size: 28px ;
  }

  .nav__link:hover::after {
    display: none;
  }

  .atlas__item {
    height: 158vh
  }

  .atlas__title {
    font-size: 72px;
    padding-bottom: 25px;
  }

  .atlas__subtitle {
    padding-bottom: 25px;
    font-size: 30px;
  }

  .atlas__link {
    padding: 10px 20px;
    font-size: 1.5em;
  }

  .circle {
    top: 26%;
    width: 530px;
    height: 530px;
  }

/* why */

.slideshow__container {
  min-height: 400px;
}

.slider__info {
  min-height: 400px;
}

.slider__info svg {
  width: 150px;
}

.why__info {
  padding: 10px 0;
  text-align: center;
  font-size: 28px;
}


}

@media (max-width: 768px) { 

}

@media (max-width: 576px) { 

}





